<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

    <% @books.each do |book| %>
      <div>
        <div><%= link_to 'Show', book %></div>
       <%= book.title %>
       <%= book.price %>
       <%= simple_form_for :book , url: books_add_to_cart_path, method: 'post' do |f| %>
        <%=f.input :id, as: :hidden , input_html: { value: book.id }%>
        <%= f.input :quantity, as: :integer, :input_html => { :value => 1}, required: false, label: false %> 
        <%= f.submit "Add to Cart" %>

  <% end %> 
      
      </div>
    <% end %>


<br>