<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

    <% @books.each do |book| %>
      <div>
        <div><%= link_to 'Show', book %></div>
       <%= book.title %>
       <%= book.price %>
       <%= button_to "Add to Cart", books_add_to_cart_path(id:book.id), :method => :post %>
      </div>
    <% end %>


<br>
