%p#notice
  = notice

= @book.title
= image_tag @book.cover
Author:
= link_to "#{@book.author.firstname} #{@book.author.lastname}", @book.author 
= @book.description
=render 'home/add_book', book:@book

-if can? :create, Rating
  Rate this book!

  = form_for :rating, html:{class: "rate-form"}, remote: true, url: ratings_path(:format => :json), method: 'post' do |f|
    .raty
    = f.text_field :text_review
    = f.hidden_field :rating
    = f.hidden_field :book_id, value:@book.id  
    = f.submit 'Leave rating', class:"btn btn-warning btn-sm"

Reviews:
%div.rating
  - @book.ratings.each do |rating|
    %div
      = rating.user.firstname  
      = rating.user.lastname 
      = rating.rating 
      = rating.text_review 
      
= link_to 'Back', books_path